@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="content">
    <div class="result">
        <h1>Movies</h1>
        @foreach(Movie movie in Model.Movies)
         {
         <div class="movie-entry">
            <h2>@movie.Title (@movie.Year)</h2>
           <p>Rated @movie.MPAA_Rating</p>
             <div class="reviews">
                Rotten Tomnato
                <h3>@movie.Rotten_Tomatoes_Rating</h3>
            </div>
            <div>
                Idmb
                <h3>@movie.IMDB_Rating</h3>
            </div>
         </div>
         }
    </div>


    <form method="post">
        <h4>search</h4>
        <input type="text" name="search" value="@Model.search" />
        <input type="submit" value="searchAndFilter" />
        <input type="reset" value="Clear"/> 
        <h4>Filter By Rating</h4>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="mpaa" value="G" checked="@Model.mpaa.Contains("G")"/>
                Rated G
            </label>
            <label>
                <input type="checkbox" name="mpaa" value="PG" checked="@Model.mpaa.Contains("PG")"/>
                Rated PG
            </label>
            <label>
                <input type="checkbox" name="mpaa" value="PG-13" checked="@Model.mpaa.Contains("PG-13")"/>
                Rated PG-13
            </label>
            <label>
                <input type="checkbox" name="mpaa" value="R" checked="@Model.mpaa.Contains("R")"/>
                Rated R
                <label>
                    <input type="checkbox" name="mpaa" value="NC-17" checked="@Model.mpaa.Contains("NC-17")"/>
                    Rated NC-17
                </label>

            </label>

            <h4>review scores</h4>
            <label>
              Min Idmb
                <input type="number" min="0" max="10" step="0.1" name="minIDM" value="@Model.minIMDB">
            </label>
            <label>
                Max Idmb
                <input type="number" min="0" max="10" step="0.1" name="maxIDM" value="@Model.maxIMDB">
            </label>
        </div>
        <h4>Sort by</h4>
        <select name="Sort">
            <option value="title" selected="@(Model.Sort=="title")">Title</option>
            <option value="director" selected="@(Model.Sort=="director")">Director</option>
            <option value="mpaa" selected="@(Model.Sort=="mpaa")">MPAA Rating</option>
            <option value="imbd" selected="@(Model.Sort=="imbd")">IMBD Rating</option>
            <option value="rt" selected="@(Model.Sort=="rt")">Rotation Rating</option>



        </select>

    </form>
</div>

        

